# Linux/x86 6.17.1 Kernel Configuration
CONFIG_CC_VERSION_TEXT="gcc (Gentoo 14.3.1_p20250801 p4) 14.3.1 20250801"
CONFIG_GCC_VERSION=140301
CONFIG_AS_VERSION=24500
CONFIG_LD_VERSION=24500
CONFIG_RUSTC_VERSION=108900
CONFIG_RUSTC_LLVM_VERSION=200107
CONFIG_RUSTC_HAS_COERCE_POINTEE=y
CONFIG_RUSTC_HAS_SPAN_FILE=y
CONFIG_RUSTC_HAS_UNNECESSARY_TRANSMUTES=y
CONFIG_RUSTC_HAS_FILE_WITH_NUL=y
# CONFIG_POSIX_AUX_CLOCKS is not set
CONFIG_ARCH_HAS_PREEMPT_LAZY=y
# CONFIG_PREEMPT_LAZY is not set
CONFIG_GROUP_SCHED_BANDWIDTH=y
# CONFIG_CGROUP_DMEM is not set
CONFIG_SYSFS_SYSCALL=y
CONFIG_FUTEX_PRIVATE_HASH=y
CONFIG_FUTEX_MPOL=y
# CONFIG_IO_URING_MOCK_FILE is not set
CONFIG_ARCH_SUPPORTS_MSEAL_SYSTEM_MAPPINGS=y
# CONFIG_KEXEC_HANDOVER is not set
# CONFIG_CRASH_DM_CRYPT is not set
# CONFIG_X86_GOLDFISH is not set
CONFIG_CC_HAS_MARCH_NATIVE=y
CONFIG_X86_NATIVE_CPU=y
CONFIG_X86_CX8=y
CONFIG_BROADCAST_TLB_FLUSH=y
CONFIG_ARCH_SUPPORTS_KEXEC_HANDOVER=y
CONFIG_X86_BUS_LOCK_DETECT=y
CONFIG_ACPI_EC=y
CONFIG_ACPI_MRRM=y
CONFIG_CPUFREQ_ARCH_CUR_FREQ=y
CONFIG_AMD_NODE=y
CONFIG_KVM_ELIDE_TLB_FLUSH_IF_YOUNG=y
CONFIG_KVM_MMU_LOCKLESS_AGING=y
CONFIG_KVM_IOAPIC=y
CONFIG_X86_REQUIRED_FEATURE_ALWAYS=y
CONFIG_X86_REQUIRED_FEATURE_NOPL=y
CONFIG_X86_REQUIRED_FEATURE_CX8=y
CONFIG_X86_REQUIRED_FEATURE_CMOV=y
CONFIG_X86_REQUIRED_FEATURE_CPUID=y
CONFIG_X86_REQUIRED_FEATURE_FPU=y
CONFIG_X86_REQUIRED_FEATURE_PAE=y
CONFIG_X86_REQUIRED_FEATURE_MSR=y
CONFIG_X86_REQUIRED_FEATURE_FXSR=y
CONFIG_X86_REQUIRED_FEATURE_XMM=y
CONFIG_X86_REQUIRED_FEATURE_XMM2=y
CONFIG_X86_REQUIRED_FEATURE_LM=y
CONFIG_X86_DISABLED_FEATURE_VME=y
CONFIG_X86_DISABLED_FEATURE_K6_MTRR=y
CONFIG_X86_DISABLED_FEATURE_CYRIX_ARR=y
CONFIG_X86_DISABLED_FEATURE_CENTAUR_MCR=y
CONFIG_X86_DISABLED_FEATURE_LAM=y
CONFIG_X86_DISABLED_FEATURE_FRED=y
CONFIG_GENERIC_IRQ_ENTRY=y
CONFIG_GENERIC_SYSCALL=y
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_HAVE_ARCH_KSTACK_ERASE=y
CONFIG_ARCH_SUPPORTS_AUTOFDO_CLANG=y
CONFIG_ARCH_SUPPORTS_PROPELLER_CLANG=y
CONFIG_ARCH_HAS_EXECMEM_ROX=y
CONFIG_ARCH_HAS_CPU_RESCTRL=y
CONFIG_ARCH_VMLINUX_NEEDS_RELOCS=y
CONFIG_ARCH_HAS_CPU_ATTACK_VECTORS=y
CONFIG_ZSWAP_ZPOOL_DEFAULT_ZSMALLOC=y
CONFIG_ZSWAP_ZPOOL_DEFAULT="zsmalloc"
CONFIG_KVFREE_RCU_BATCHED=y
CONFIG_SPARSEMEM_VMEMMAP_PREINIT=y
CONFIG_ARCH_WANT_HUGETLB_VMEMMAP_PREINIT=y
CONFIG_MHP_DEFAULT_ONLINE_TYPE_OFFLINE=y
# CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_AUTO is not set
# CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_KERNEL is not set
# CONFIG_MHP_DEFAULT_ONLINE_TYPE_ONLINE_MOVABLE is not set
CONFIG_MM_ID=y
# CONFIG_NO_PAGE_MAPCOUNT is not set
CONFIG_PAGE_MAPCOUNT=y
CONFIG_PAGE_BLOCK_MAX_ORDER=10
CONFIG_ARCH_HAS_USER_SHADOW_STACK=y
CONFIG_ARCH_SUPPORTS_PT_RECLAIM=y
CONFIG_PT_RECLAIM=y
# CONFIG_DAMON_STAT is not set
# CONFIG_DAMON_STAT_ENABLED_DEFAULT is not set
# CONFIG_XFRM_IPTFS is not set
# CONFIG_NETFILTER_XTABLES_LEGACY is not set
# CONFIG_NET_SCH_BPF is not set
# CONFIG_NET_SCH_DUALPI2 is not set
# CONFIG_PCIE_TPH is not set
# CONFIG_HOTPLUG_PCI_OCTEONEP is not set
# CONFIG_PCI_PWRCTRL_SLOT is not set
# CONFIG_PC104 is not set
CONFIG_REGMAP_SPI=m
# CONFIG_OVMF_DEBUG_LOG is not set
CONFIG_EFI_SBAT_FILE=""
# CONFIG_FWCTL is not set
# CONFIG_MTD_INTEL_DG is not set
CONFIG_MTD_NAND_CORE=m
# CONFIG_BLK_DEV_ZONED_LOOP is not set
CONFIG_NVME_KEYRING=m
# CONFIG_TI_FPC202 is not set
CONFIG_NTSYNC=y
# CONFIG_AMD_SBRMI_I2C is not set
# CONFIG_OVPN is not set
# CONFIG_BNGE is not set
CONFIG_NET_VENDOR_HISILICON=y
# CONFIG_HIBMCGE is not set
# CONFIG_TXGBEVF is not set
# CONFIG_NGBEVF is not set
# CONFIG_AS21XXX_PHY is not set
# CONFIG_MAXLINEAR_86110_PHY is not set
# CONFIG_MCTP_TRANSPORT_USB is not set
CONFIG_IWLMLD=m
# CONFIG_SERIAL_8250_NI is not set
# CONFIG_TCG_SVSM is not set
CONFIG_I2C_MUX=m
CONFIG_I2C_ALGOBIT=m
# CONFIG_PPS_GENERATOR is not set
# CONFIG_PTP_1588_CLOCK_VMCLOCK is not set
#
# DPLL device support
#
# CONFIG_ZL3073X_I2C is not set
# CONFIG_ZL3073X_SPI is not set
# end of DPLL device support

CONFIG_GPIOLIB_LEGACY=y
# CONFIG_GPIO_ALTERA is not set
# CONFIG_GPIO_POLARFIRE_SOC is not set
# CONFIG_GPIO_XILINX is not set
# CONFIG_GPIO_BT8XX is not set
# CONFIG_GPIO_74X164 is not set
# CONFIG_GPIO_MPSSE is not set
# CONFIG_BATTERY_CHAGALL is not set
# CONFIG_CHARGER_MAX8971 is not set
# CONFIG_FUEL_GAUGE_STC3117 is not set
# CONFIG_SENSORS_HTU31 is not set
# CONFIG_SENSORS_ISL28022 is not set
# CONFIG_SENSORS_NCT7363 is not set
# CONFIG_PCIE_THERMAL is not set
# CONFIG_LENOVO_SE30_WDT is not set
CONFIG_INTEL_OC_WATCHDOG=y
# CONFIG_MFD_CGBC is not set
# CONFIG_MFD_CS40L50_I2C is not set
# CONFIG_MFD_CS40L50_SPI is not set
# CONFIG_MFD_MAX77705 is not set
# CONFIG_MFD_QNAP_MCU is not set
# CONFIG_MFD_UPBOARD_FPGA is not set
# CONFIG_REGULATOR_ADP5055 is not set
# CONFIG_REGULATOR_PF9453 is not set
CONFIG_CEC_CORE=m
# CONFIG_CEC_NXP_TDA9950 is not set
CONFIG_VIDEO_DEV=m
CONFIG_DVB_CORE=m
CONFIG_V4L2_FWNODE=m
CONFIG_V4L2_ASYNC=m
# CONFIG_VIDEO_RP1_CFE is not set
# CONFIG_VIDEO_OV02E10 is not set
# CONFIG_VIDEO_OV02C10 is not set
# CONFIG_VIDEO_VD55G1 is not set
# CONFIG_VIDEO_VD56G3 is not set
CONFIG_VIDEO_CAMERA_LENS=y
# CONFIG_VIDEO_LT6911UXE is not set
# CONFIG_VIDEO_MAX96717 is not set
CONFIG_MEDIA_TUNER=m
CONFIG_MEDIA_TUNER_MC44S803=m
CONFIG_MEDIA_TUNER_MT20XX=m
CONFIG_MEDIA_TUNER_SIMPLE=m
CONFIG_MEDIA_TUNER_TDA18271=m
CONFIG_MEDIA_TUNER_TDA827X=m
CONFIG_MEDIA_TUNER_TDA8290=m
CONFIG_MEDIA_TUNER_TDA9887=m
CONFIG_MEDIA_TUNER_TEA5761=m
CONFIG_MEDIA_TUNER_TEA5767=m
CONFIG_MEDIA_TUNER_XC2028=m
CONFIG_MEDIA_TUNER_XC4000=m
CONFIG_MEDIA_TUNER_XC5000=m

#
# DRM debugging options
#
# CONFIG_DRM_WERROR is not set
# CONFIG_DRM_SCHED_KUNIT_TEST is not set
# end of DRM debugging options

CONFIG_DRM_MIPI_DSI=y
CONFIG_DRM_CLIENT=y
CONFIG_DRM_CLIENT_LIB=y

#
# Supported DRM clients
#
# CONFIG_DRM_CLIENT_LOG is not set
CONFIG_DRM_CLIENT_DEFAULT_FBDEV=y
CONFIG_DRM_CLIENT_DEFAULT="fbdev"
# end of Supported DRM clients

CONFIG_DRM_DISPLAY_HELPER=m
CONFIG_DRM_DISPLAY_DSC_HELPER=y
CONFIG_DRM_EXEC=m
CONFIG_DRM_GPUVM=m
CONFIG_DRM_GPUSVM=m
CONFIG_DRM_BUDDY=m
CONFIG_DRM_GEM_SHMEM_HELPER=y
CONFIG_DRM_SUBALLOC_HELPER=m
CONFIG_DRM_SCHED=m
# Drivers for system framebuffers
CONFIG_DRM_SYSFB_HELPER=y
CONFIG_DRM_EFIDRM=y
# CONFIG_DRM_SIMPLEDRM is not set
# CONFIG_DRM_VESADRM is not set
# end of Drivers for system framebuffers
CONFIG_DRM_XE_GPUSVM=y
CONFIG_DRM_XE_PAGEMAP=y
# CONFIG_DRM_XE_DEBUG_MEMIRQ is not set
# CONFIG_DRM_I2C_NXP_TDA998X is not set
# CONFIG_DRM_HISI_HIBMC is not set
# CONFIG_DRM_APPLETBDRM is not set
# CONFIG_TINYDRM_SHARP_MEMORY is not set
# CONFIG_DRM_ST7571_I2C is not set
# CONFIG_DRM_ST7586 is not set
# CONFIG_DRM_ST7735R is not set
# CONFIG_FIRMWARE_EDID is not set
# CONFIG_TRACE_GPU_MEM is not set
# CONFIG_DRM_ACCEL_AMDXDNA is not set
CONFIG_SND_PCM_ELD=y
CONFIG_SND_SEQ_MIDI_EVENT=m
CONFIG_SND_SEQ_MIDI=m
CONFIG_SND_SEQ_UMP_CLIENT=m
# CONFIG_SND_SE6X is not set
CONFIG_SND_HDA_POWER_SAVE_DEFAULT=1
# CONFIG_SND_HDA_CTL_DEV_ID is not set
CONFIG_SND_HDA_PREALLOC_SIZE=0
CONFIG_SND_HDA_INTEL=m
# CONFIG_SND_HDA_ACPI is not set
# CONFIG_SND_HDA_CODEC_CM9825 is not set
# CONFIG_SND_HDA_CODEC_REALTEK is not set
# CONFIG_SND_HDA_CODEC_CIRRUS is not set
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_SND_HDA_CODEC_HDMI_GENERIC=m
CONFIG_SND_HDA_CODEC_HDMI_SIMPLE=m
CONFIG_SND_HDA_CODEC_HDMI_INTEL=m
CONFIG_SND_HDA_CODEC_HDMI_ATI=m
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA=m
CONFIG_SND_HDA_CODEC_HDMI_NVIDIA_MCP=m
CONFIG_SND_HDA_CODEC_HDMI_TEGRA=m
# CONFIG_SND_HDA_SCODEC_CS35L41_I2C is not set
# CONFIG_SND_HDA_SCODEC_CS35L41_SPI is not set
# CONFIG_SND_HDA_SCODEC_CS35L56_I2C is not set
# CONFIG_SND_HDA_SCODEC_CS35L56_SPI is not set
# CONFIG_SND_HDA_SCODEC_TAS2781_I2C is not set
# CONFIG_SND_HDA_SCODEC_TAS2781_SPI is not set
# end of HD-Audio

# CONFIG_SND_SOC_OPS_KUNIT_TEST is not set
# CONFIG_SND_SOC_USB is not set

#
# Analog Devices
#
# end of Analog Devices

#
# AMD
#
CONFIG_SND_AMD_ACP_CONFIG=m
CONFIG_SND_SOC_ACPI_AMD_MATCH=m
# end of AMD

#
# Apple
#
# end of Apple

#
# Atmel
#
# end of Atmel

#
# Au1x
#
# end of Au1x

#
# Broadcom
#
# end of Broadcom

#
# Cirrus Logic
#
# end of Cirrus Logic

#
# DesignWare
#
# end of DesignWare
# Freescale
# end of Freescale
#
# Google
#
# end of Google

#
# Hisilicon
#
# end of Hisilicon

#
# JZ4740
#
# end of JZ4740

#
# Kirkwood
#
# end of Kirkwood

#
# Loongson
#
# end of Loongson

#
# Intel
#
CONFIG_SND_SST_ATOM_HIFI2_PLATFORM=m
CONFIG_SND_SOC_ACPI_INTEL_SDCA_QUIRKS=m
# CONFIG_SND_SOC_INTEL_AVS_CARDNAME_OBSOLETE is not set
# CONFIG_SND_SOC_INTEL_AVS_MACH_PCM3168A is not set
# CONFIG_SND_SOC_INTEL_AVS_MACH_RT5640 is not set
# end of Intel

#
# Mediatek
#
# end of Mediatek

#
# PXA
#
# end of PXA

#
# SoundWire (SDCA)
#
CONFIG_SND_SOC_SDCA=m
CONFIG_SND_SOC_SDCA_HID=y
CONFIG_SND_SOC_SDCA_IRQ=y
CONFIG_SND_SOC_SDCA_OPTIONAL=m
# end of SoundWire (SDCA)

#
# ST SPEAr
#
# end of ST SPEAr

#
# Spreadtrum
#
# end of Spreadtrum

#
# STMicroelectronics STM32
#
# end of STMicroelectronics STM32

#
# Tegra
#
# end of Tegra

#
# Xilinx
#
# CONFIG_SND_SOC_XILINX_I2S is not set
# CONFIG_SND_SOC_XILINX_AUDIO_FORMATTER is not set
# CONFIG_SND_SOC_XILINX_SPDIF is not set
# end of Xilinx

#
# Xtensa
#
# CONFIG_SND_SOC_XTFPGA_I2S is not set
# end of Xtensa

CONFIG_SND_SOC_SOF_DEBUG_PROBES=m
CONFIG_SND_SOC_SOF_CLIENT=m
CONFIG_SND_SOC_SOF_ACP_PROBES=m
CONFIG_SND_SOC_SOF_INTEL_COMMON=m
CONFIG_SND_SOC_SOF_HDA_PROBES=m
CONFIG_SND_SOC_SOF_INTEL_SOUNDWIRE_LINK_BASELINE=m
CONFIG_SND_SOC_I2C_AND_SPI=m
# CONFIG_SND_SOC_ADAU1373 is not set
# CONFIG_SND_SOC_AW88166 is not set
# CONFIG_SND_SOC_AW88081 is not set
# CONFIG_SND_SOC_CS42L84 is not set
# CONFIG_SND_SOC_CS48L32 is not set
# CONFIG_SND_SOC_ES8323 is not set
# CONFIG_SND_SOC_ES8375 is not set
# CONFIG_SND_SOC_ES8389 is not set
# CONFIG_SND_SOC_RT721_SDCA_SDW is not set
# CONFIG_SND_SOC_RT9123 is not set
# CONFIG_SND_SOC_RT9123P is not set
# CONFIG_SND_SOC_RTQ9124 is not set
# CONFIG_SND_SOC_SMA1307 is not set
# CONFIG_SND_SOC_UDA1342 is not set
# CONFIG_SND_SOC_NTP8918 is not set
# CONFIG_SND_SOC_NTP8835 is not set
#
# Generic drivers
#
# end of Generic drivers

# CONFIG_HID_APPLETB_BL is not set
# CONFIG_HID_APPLETB_KBD is not set
# CONFIG_HID_KYSONA is not set
# Intel THC HID Support
#
# CONFIG_INTEL_THC_HID is not set
# end of Intel THC HID Support

#
# USB HID support
CONFIG_USB_HID=y
CONFIG_HID_PID=y
CONFIG_USB_HIDDEV=y
# end of USB HID support
# CONFIG_USB_XHCI_SIDEBAND is not set
# NOTE: USB_STORAGE depends on SCSI but BLK_DEV_SD may also be needed; see USB_STORAGE Help for more info
# CONFIG_TYPEC_MUX_PS883X is not set
# CONFIG_TYPEC_MUX_TUSB1046 is not set
# CONFIG_TYPEC_TBT_ALTMODE is not set
# CONFIG_LEDS_KUNIT_TEST is not set
# Simatic LED drivers
# CONFIG_EDAC_SCRUB is not set
# CONFIG_EDAC_ECS is not set
# CONFIG_EDAC_MEM_REPAIR is not set
# CONFIG_RTC_DRV_PCF85063 is not set
# CONFIG_AMD_QDMA is not set
CONFIG_DMABUF_HEAPS_CMA_LEGACY=y
# CONFIG_VIRTIO_RTC is not set
# CONFIG_VIDEO_INTEL_IPU7 is not set
# CONFIG_GPIB is not set
# CONFIG_MLX_PLATFORM is not set
# CONFIG_MLXREG_DPU is not set
# CONFIG_ACPI_WMI_LEGACY_DEVICE_NAMES is not set

#
# AMD HSMP Driver
#
# CONFIG_AMD_HSMP_ACPI is not set
# CONFIG_AMD_HSMP_PLAT is not set
# end of AMD HSMP Driver

# CONFIG_AMD_HFI is not set
# CONFIG_AMD_3D_VCACHE is not set
# CONFIG_AMD_ISP_PLATFORM is not set
CONFIG_INTEL_PMC_SSRAM_TELEMETRY=m
CONFIG_INTEL_PMT_DISCOVERY=m
# CONFIG_INTEL_PMT_KUNIT_TEST is not set
# CONFIG_IDEAPAD_LAPTOP is not set
# CONFIG_LENOVO_WMI_HOTKEY_UTILITIES is not set
# CONFIG_LENOVO_WMI_CAMERA is not set
# CONFIG_THINKPAD_ACPI is not set
# CONFIG_THINKPAD_LMI is not set
# CONFIG_YOGABOOK is not set
# CONFIG_YT2_1380 is not set
# CONFIG_LENOVO_WMI_GAMEZONE is not set
# CONFIG_LENOVO_WMI_TUNING is not set
# CONFIG_PORTWELL_EC is not set
# CONFIG_SAMSUNG_GALAXYBOOK is not set
# CONFIG_DASHARO_ACPI is not set
# CONFIG_OXP_EC is not set
# CONFIG_TUXEDO_NB04_WMI_AB is not set
CONFIG_IRQ_MSI_LIB=y
# CONFIG_ANDROID_BINDER_ALLOC_KUNIT_TEST is not set
# CONFIG_BTRFS_EXPERIMENTAL is not set
CONFIG_FUSE_IO_URING=y
CONFIG_ARCH_SUPPORTS_HUGETLBFS=y
CONFIG_RESCTRL_FS=y
CONFIG_RESCTRL_FS_PSEUDO_LOCK=y
# CONFIG_UNICODE_NORMALIZATION_KUNIT_TEST is not set
CONFIG_HAS_SECURITY_AUDIT=y
CONFIG_IMA_KEXEC_EXTRA_MEMORY_KB=0
# Bounds checking
#
CONFIG_FORTIFY_SOURCE=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_HARDENED_USERCOPY_DEFAULT_ON=y
# end of Bounds checking

#
CONFIG_CRYPTO_HKDF=y
# CONFIG_CRYPTO_SELFTESTS is not set
# CONFIG_CRYPTO_KRB5ENC is not set
# CONFIG_CRYPTO_BENCHMARK is not set
CONFIG_CRYPTO_ESSIV=m
# CONFIG_CRYPTO_DEV_QAT_6XXX is not set
# CONFIG_CRYPTO_KRB5 is not set
# CONFIG_PACKING_KUNIT_TEST is not set
CONFIG_CRC8=m
CONFIG_CRC16=y
CONFIG_CRC_CCITT=y
CONFIG_CRC_T10DIF=y
CONFIG_CRC_T10DIF_ARCH=y
CONFIG_CRC32=y
CONFIG_CRC32_ARCH=y
CONFIG_CRC64=y
CONFIG_CRC64_ARCH=y
CONFIG_CRC_OPTIMIZATIONS=y
# CONFIG_CRC_KUNIT_TEST is not set
CONFIG_CRYPTO_HASH_INFO=y
CONFIG_CRYPTO_LIB_AESGCM=y
CONFIG_CRYPTO_LIB_SHA1_ARCH=y
CONFIG_CRYPTO_LIB_SHA256_ARCH=y
CONFIG_CRYPTO_LIB_SHA512=y
CONFIG_CRYPTO_LIB_SHA512_ARCH=y
# CONFIG_CRYPTO_LIB_POLY1305_KUNIT_TEST is not set
# CONFIG_CRYPTO_LIB_SHA1_KUNIT_TEST is not set
# CONFIG_CRYPTO_LIB_SHA256_KUNIT_TEST is not set
# CONFIG_CRYPTO_LIB_SHA512_KUNIT_TEST is not set
CONFIG_CRYPTO_BLAKE2S_X86=y
CONFIG_CRYPTO_CHACHA20_X86_64=y
CONFIG_CRYPTO_POLY1305_X86_64=y
CONFIG_GENERIC_VDSO_DATA_STORE=y
CONFIG_UNION_FIND=y
# CONFIG_OBJTOOL_WERROR is not set
# CONFIG_DEBUG_NET_SMALL_RTNL is not set
CONFIG_ARCH_HAS_PTDUMP=y
CONFIG_PTDUMP=y
# CONFIG_DEBUG_VFS is not set
CONFIG_HAVE_FUNCTION_GRAPH_FREGS=y
CONFIG_HAVE_FTRACE_GRAPH_FUNC=y
CONFIG_HAVE_FTRACE_REGS_HAVING_PT_REGS=y
CONFIG_TRACEFS_AUTOMOUNT_DEPRECATED=y
# CONFIG_FUNCTION_GRAPH_RETADDR is not set
CONFIG_FUNCTION_TRACE_ARGS=y
CONFIG_EPROBE_EVENTS=y
CONFIG_RV_MON_EVENTS=y
CONFIG_RV_MON_MAINTENANCE_EVENTS=y
CONFIG_RV_PER_TASK_MONITORS=2
# CONFIG_RV_MON_RTAPP is not set
CONFIG_KUNIT_AUTORUN_ENABLED=y
CONFIG_KUNIT_DEFAULT_TIMEOUT=300
# CONFIG_PRINTF_KUNIT_TEST is not set
# CONFIG_SCANF_KUNIT_TEST is not set
# CONFIG_SEQ_BUF_KUNIT_TEST is not set
# CONFIG_UTIL_MACROS_KUNIT is not set
# CONFIG_KFIFO_KUNIT_TEST is not set
# CONFIG_RANDSTRUCT_KUNIT_TEST is not set
# CONFIG_BLACKHOLE_DEV_KUNIT_TEST is not set
# CONFIG_TEST_KALLSYMS is not set
# CONFIG_RATELIMIT_KUNIT_TEST is not set
# CONFIG_INT_POW_KUNIT_TEST is not set
# CONFIG_INT_SQRT_KUNIT_TEST is not set
# CONFIG_INT_LOG_KUNIT_TEST is not set
# CONFIG_GCD_KUNIT_TEST is not set
CONFIG_IO_URING_ZCRX=y
