# CONFIG_SERIAL_8250 is not set
# CONFIG_SERIAL_JSM is not set
# CONFIG_SERIAL_SC16IS7XX is not set
# CONFIG_SERIAL_ARC is not set
# CONFIG_SERIAL_NONSTANDARD is not set
# CONFIG_IPWIRELESS is not set
# CONFIG_N_GSM is not set
# CONFIG_NOZOMI is not set
# CONFIG_SERIAL_DEV_BUS is not set
# CONFIG_MWAVE is not set
# CONFIG_XILLYBUS is not set
# CONFIG_XILLYUSB is not set
CONFIG_DMA_VIRTUAL_CHANNELS=m
